= form_for @share do |f|
  - if @share.errors.any?
    #error_explanation
      %h2= "#{pluralize(@share.errors.count, "error")} prohibited this share from being saved:"
      %ul
        - @share.errors.full_messages.each do |msg|
          %li= msg

  .field
    =f.hidden_field :user_avatar, :value => current_user.avatar.url(:thumb)
     
  .field
    = f.hidden_field :username ,:value => current_user.username
  .field
    = f.label :details
    = f.text_field :body
  .field
    = f.hidden_field :created_at ,:value => Time.now
  .field
    = f.hidden_field :updated_at , :value => Time.now
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :car_make
    = f.text_field :car_make
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :route
    = f.text_field :route
  .field
    = f.label :distance
    = f.text_field :distance
  .field
    = f.label :date
    = f.datetime_select :date
  .field
    = f.label :luggage
    = f.text_field :luggage
  .field
    = f.label :experience
    = f.text_field :experience
  .actions
    = f.submit 'Save'
