=render 'layouts/header'
.ui.segment
  %center
    .ui.header Ride shares
  %br
  .ui.purple.cards{:style => "margin-left:30px;"}
    - @shares.each do |share|
      .ui.purple.fluid.card{:style => "margin-left:20px; margin-right:20px;padding:50px;width:500px;"}
      
        .content
          .right.floated.meta 
            = share.date
          %img
            / = image_tag share.user_avatar , class: "ui avatar image "
            = share.username
        .content
          %p 
            = share.body
          %i.money.icon
            = share.price
          %span.right.floated
            %i.user.icon
              = share.experience
        .content
          %span.right.floated
            %i.road.icon
              = share.distance
          %i.car.icon
            = share.car_make
        .extra.content
          = share.route
          %span.right.floated
            %i.briefcase.icon
              = share.luggage
        .extra.content         
          %i.map.marker.icon
            = share.location
        .extra.content
          .inline.field
          = link_to 'Show', share
          -if share.user_id == current_user.id
            
            = link_to 'Edit', edit_share_path(share)
            = link_to 'Destroy', share, :method => :delete, :data => { :confirm => 'Are you sure?' }
  
  
  


  %br

  = link_to 'New Share', new_share_path ,:class => "ui small purple button"
