%center
  %br
  .ui.large.purple.ribbon.label Sharecar
.ui.secondary.menu
  .ui.home.icon 
    = link_to "Home", root_path ,:class => "ui  item"
  .ui.mail.icon
    =link_to ""
  .ui.car.icon
    =link_to  "Shares",shares_path,:class => "ui  item"
  .right.menu
    .item
    .ui.input
      = form_tag(shares_path, :method => "get", id: "search-form") do
        = text_field_tag :search, params[:search], placeholder: "Search shares"
        = submit_tag "Search" , :name =>  nil , :class => "ui small purple button"
        - if @shares.present?
          = render @shares
    -unless signed_in?
      
      = link_to "Sign in" ,  new_user_session_path , :class => "ui item"
    -else
      = link_to "My Account" , edit_user_registration_path , :class => "ui item"
      =link_to "Sign Out", destroy_user_session_path, method: :delete ,:class => "ui item" 